<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4">
      <div class="card custom-card">
        <div class="card-header"><img class="img-fluid" src="assets/images/about-us/background.jpg" alt=""></div>
        <div class="card-profile"><img class="rounded-circle" src="assets/images/about-us/david.jpg" alt=""></div>
        <ul class="card-social">
          <li><a href="https://www.facebook.com/david.ceranic.3/" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://www.instagram.com/ceranicc/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://hr.linkedin.com/in/david-%C4%87erani%C4%87-933911186" target="_blank"><i
                class="fa fa-linkedin"></i></a>
          </li>
        </ul>
        <div class="text-center profile-details">
          <h4>David Ćeranić</h4>
          <h6>Frontend Developer</h6>
        </div>
        <div class="card-footer row">
          <!-- <div class="col-4 col-sm-4">
            <h6>Follower</h6>
            <h3 class="counter" [CountTo]="9564" [from]="0" [duration]="1">9564</h3>
          </div>
          <div class="col-4 col-sm-4">
            <h6>Following</h6>
            <h3><span class="counter" [CountTo]="49" [from]="0" [duration]="1">49</span>K</h3>
          </div>
          <div class="col-4 col-sm-4">
            <h6>Total Post</h6>
            <h3><span class="counter" [CountTo]="96" [from]="0" [duration]="1">96</span>M</h3>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card custom-card">
        <div class="card-header"><img class="img-fluid" src="assets/images/about-us/background.jpg" alt=""></div>
        <div class="card-profile"><img class="rounded-circle" src="assets/images/about-us/davor.jpg" alt=""></div>
        <ul class="card-social">
          <li><a href="https://www.facebook.com/multicellulareukaryote" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/warriorkitty0" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <div class="text-center profile-details">
          <h4>Davor Lozić</h4>
          <h6>Backend Developer</h6>
        </div>
        <div class="card-footer row">
          <!-- <div class="col-4 col-sm-4">
            <h6>Follower</h6>
            <h3 class="counter" [CountTo]="9564" [from]="0" [duration]="1">9564</h3>
          </div>
          <div class="col-4 col-sm-4">
            <h6>Following</h6>
            <h3><span class="counter" [CountTo]="49" [from]="0" [duration]="1">49</span>K</h3>
          </div>
          <div class="col-4 col-sm-4">
            <h6>Total Post</h6>
            <h3><span class="counter" [CountTo]="96" [from]="0" [duration]="1">96</span>M</h3>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card custom-card">
        <div class="card-header"><img class="img-fluid" src="assets/images/about-us/background.jpg" alt=""></div>
        <div class="card-profile"><img class="rounded-circle" src="assets/images/about-us/ines.jpg" alt=""></div>
        <ul class="card-social">
          <li><a href="https://www.facebook.com/sinovcic.ines" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/ines_sinovcic/" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
          <li><a href="https://hr.linkedin.com/in/inessinovcic" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <div class="text-center profile-details">
          <h4>Ines Sinovčić</h4>
          <h6>Project Manager</h6>
        </div>
        <div class="card-footer row">
          <!-- <div class="col-4 col-sm-4">
            <h6>Follower</h6>
            <h3 class="counter" [CountTo]="9564" [from]="0" [duration]="1">9564</h3>
          </div>
          <div class="col-4 col-sm-4">
            <h6>Following</h6>
            <h3><span class="counter" [CountTo]="49" [from]="0" [duration]="1">49</span>K</h3>
          </div>
          <div class="col-4 col-sm-4">
            <h6>Total Post</h6>
            <h3><span class="counter" [CountTo]="96" [from]="0" [duration]="1">96</span>M</h3>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>