/* css to customize Leaflet default styles  */
:host ::ng-deep .leaflet-popup-content-wrapper{
  width: 40vw !important;
}

:host ::ng-deep .leaflet-popup-content{
  width: 37vw !important;
}

.leaflet-alert {
  padding: 10px !important;
}

