<form [formGroup]="addressGroup" (ngSubmit)="save()" class="ngx-form" novalidate>
  <div class="row mt-5 mb-1">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  mb-3">
      <div class="form-group">
        <label class="control-label" for="firstname">{{ 'Address' | translate }}<span
            class="text-danger">*</span></label>
        <input type="text" formControlName="address" class="form-control" placeholder="npr. Ivane Brlić Mažuranić"
          [ngClass]="{'is-invalid': address.invalid && (address.dirty || address.touched)}">
        <div class="invalid-feedback"
          *ngIf="address.invalid && address.errors?.required && (address.dirty || address.touched)">
          {{ 'Address is required' | translate}}.
        </div>
        <div class="invalid-feedback"
          *ngIf="address.invalid && address.errors?.minlength && (address.dirty || address.touched)">
          {{ 'Address must contain atleast 3 characters' | translate}}.
        </div>
        <div class="invalid-feedback"
          *ngIf="address.invalid && address.errors?.maxlength && (address.dirty || address.touched)">
          {{ 'Address must have less than 40 characters' | translate}}.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-3">
      <div class="form-group">
        <label class="control-label" for="addressNumber">{{ 'Address Number' | translate }}<span
            class="text-danger">*</span></label>
        <input type="text" formControlName="addressNumber" class="form-control" placeholder="npr. 2a"
          [ngClass]="{'is-invalid': addressNumber.invalid && (addressNumber.dirty || addressNumber.touched)}">
        <div class="invalid-feedback">
          {{ 'Address Number is required' | translate}}.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-3">
      <div class="form-group">
        <label class="control-label" for="postalCode">{{ 'Postal Code' | translate }}<span
            class="text-danger">*</span></label>
        <input type="text" formControlName="postalCode" class="form-control" placeholder="12132"
          [ngClass]="{'is-invalid': postalCode.invalid && (postalCode.dirty || postalCode.touched)}">
        <div class="invalid-feedback"
          *ngIf="postalCode.invalid && postalCode.errors?.required && (postalCode.dirty || postalCode.touched)">
          {{ 'Postal Code is required' | translate}}.
        </div>
        <div class="invalid-feedback"
          *ngIf="postalCode.invalid && (postalCode.errors?.maxlength || postalCode.errors?.minlength) && (postalCode.dirty || postalCode.touched)">
          {{ 'Postal Code has 5 characters' | translate}}.
        </div>
        <div class="invalid-feedback"
          *ngIf="postalCode.invalid && postalCode.errors?.pattern && (postalCode.dirty || postalCode.touched)">
          {{ 'Postal Code must be a number' | translate}}.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group f1-buttons">
    <button class="btn btn-primary btn-next" [disabled]="addressGroup.invalid" awNextStep>{{ 'Next' | translate}}
    </button>
  </div>
</form>