<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body step-indicator">
          <aw-wizard navBarLayout="large-filled-symbols" [disableNavigationBar]="true">
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf024;', fontFamily: 'FontAwesome' }"
              [stepTitle]="isCroatianLanguageActive ? 'Adresa' : 'Address'">
              <poke-address-input></poke-address-input>
            </aw-wizard-step>
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf041;', fontFamily: 'FontAwesome' }"
              [stepTitle]="isCroatianLanguageActive ?  'Mapa' : 'Map'" (stepEnter)="enterSecondStep($event)">
              <poke-map-input [stepInitialized]="secondStepInitialized"></poke-map-input>
            </aw-wizard-step>
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf09d;', fontFamily: 'FontAwesome' }"
              [stepTitle]="isCroatianLanguageActive ? 'Opće Informacije': 'General Information'">
              <poke-information-input></poke-information-input>
            </aw-wizard-step>
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf03e;', fontFamily: 'FontAwesome' }"
              [stepTitle]="isCroatianLanguageActive ? 'Slike' : 'Pictures'">
              <poke-upload-input></poke-upload-input>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>